.card {
  margin-bottom: 15px;
  padding: 20px;

  background-color: var(--future);
  border-radius: 20px;
  outline-color: var(--outline);
  outline-offset: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card.visited {
  background-color: var(--visited);
}

.card.unvisited {
  background-color: var(--unvisited);
}

.card.unstatused {
  background-color: var(--unstatused);
}

.card:focus,
.card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.card:active {
  opacity: 0.9;
}

.card:last-child {
  margin-bottom: 30px;
}

.card p {
  margin: 0;
  margin-bottom: 8px;

  text-align: center;
}

.card p:last-child {
  margin-bottom: 0;
}
