.alert {
  position: fixed;
  top: 10px;
  right: calc(50% - 130px);
  z-index: 3;

  width: 260px;
  min-height: 110px;
  padding: 15px 20px;

  background-color: var(--basic-white);
  border-radius: 20px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.alert p {
  margin: 0;
  margin-top: 10px;

  font-size: 16px;

  text-align: center;
}

.alert svg {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  fill: none;
  stroke: var(--basic-red);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.closeButtonPosition {
  position: absolute;
  top: 8px;
  right: 8px;
}

.alert.entering {
  animation: entering 310ms;
}

.alert.exiting {
  animation: exiting 310ms;
}

@keyframes entering {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes exiting {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
