.button {
  display: block;
  width: 100%;
  padding: 15px;

  color: var(--basic-white);
  font-size: 18px;

  background: var(--basic-blue);
  border: none;
  border-radius: 20px;
  outline-color: var(--outline);
  outline-offset: 2px;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background: var(--button-hover);
}

.button.success {
  background-color: var(--basic-green);
}

.button.success:focus,
.button.success:hover {
  background-color: var(--button-success-hover);
}

.button.error {
  background-color: var(--basic-red);
}

.button.error:focus,
.button.error:hover {
  background-color: var(--button-error-hover);
}

.button:disabled {
  background-color: var(--disabled);
}

.button:disabled:focus,
.button:disabled:hover {
  background-color: var(--disabled);
}

.button:active {
  opacity: 0.9;
}

.button.loading {
  animation: flickerAnimation 1s infinite;
}

.button.loading:focus,
.button.loading:hover {
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
