.group {
  position: relative;

  margin-bottom: 45px;
}

.error > .bar::before,
.error > .bar::after {
  background: var(--basic-red);
}

.error > .input {
  border-bottom-color: var(--basic-red);
}

.filled > .label {
  top: -20px;

  color: var(--basic-blue);
  font-size: 14px;
}

.input {
  display: block;
  width: 300px;
  padding: 10px 10px 10px 5px;

  font-size: 18px;

  border: none;
  border-bottom: 1px solid #757575;
}

.input:focus {
  outline: none;
}

.label {
  position: absolute;
  top: 10px;
  left: 5px;

  color: #999;
  font-weight: normal;
  font-size: 18px;

  transition: 0.2s ease all;

  pointer-events: none;
}

.input:focus ~ .label {
  top: -20px;

  color: var(--basic-blue);
  font-size: 14px;
}

.bar {
  position: relative;

  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  position: absolute;
  bottom: 0px;

  width: 0;
  height: 2px;

  background: var(--basic-blue);

  transition: 0.2s ease all;

  content: '';
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  top: 25%;
  left: 0;

  width: 100px;
  height: 60%;

  opacity: 0.5;

  pointer-events: none;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.message {
  display: block;
  margin-top: 5px;

  color: var(--basic-red)
}

@keyframes inputHighlighter {
  from {
    background: var(--basic-blue);
  }
  to {
    width: 0;

    background: transparent;
  }
}
