:root {
  --lynch: #698498;
  --bay-leaf: #8ab486;
  --puce: #cb8085;
  --button-success-hover: #789c75;
  --button-error-hover: #ac6d71;
  --button-hover: #5e7688;
  --white: #fff;
  --pickled-bluewood: #2a334b;
  --silver: #c4c4c4;
  --porcelain: #f2f5f6;
  --givry: #f7e4c7;
  --tulip-tree: #eea93e;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  color: var(--pickled-bluewood);
  font-family: Montserrat, sans-serif;
}
