:root {
  --basic-white: #ffffff;
  --basic-blue: #698498;
  --basic-green: #8ab486;
  --basic-red: #cb8085;
  --text-color: #2a334b;
  --button-success-hover: #789c75;
  --button-error-hover: #ac6d71;
  --button-hover: #5e7688;
  --disabled: #c4c4c4;
  --outline: #eea93e;
  --future: #f2f5f6;
  --visited: #dae9d9;
  --unvisited: #e8dbdb;
  --unstatused: #f7e4c7;
  --backdrop: #69849899;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}
